In [2]:
import time
import requests
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
import pandas as pd
import matplotlib.font_manager as fm
import urllib.request


from selenium.webdriver.common.by import By
from selenium import webdriver
from matplotlib import rc
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [3]:
lotte = pd.read_csv('./lotte_info.csv',encoding='utf-8')
lotte.head()

,Unnamed: 0,store,address,phone
0,0,롯데마트 TRU동부산점,부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층,051-922-2500
1,1,롯데마트 TRU파주점,"경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)",031-960-2750
2,2,롯데마트 marketD수원점,경기도 수원시 권선구 세화로 134 롯데마트,031-8067-2500
3,3,롯데마트 강변점,서울특별시 광진구 광나루로56길 85 롯데마트,02-3424-2500
4,4,롯데마트 거제점,경상남도 거제시 서간도길 9-9 (옥포동),055-641-2500

In [4]:
lotte.tail()

     Unnamed: 0      store                      address         phone
107         107   롯데마트 포항점      경북 포항시 남구 지곡로 247 롯데마트   054-222-2500
108         108  롯데마트 행당역점  서울 성동구 행당로 82 한진타운상가 B2~B3층  02-2290-7000
109         109   롯데마트 홍성점  충남 홍성군 홍성읍 조양로247번길 9 롯데마트   041-339-2500
110         110   롯데마트 화명점           부산 북구 화명대로 47 롯데마트  051-604-2500
111         111   롯데마트 화정점      경기 고양시 덕양구 화중로 66 롯데마트   031-947-2500

In [5]:
lotte = lotte.rename(columns={'phone':'tell'})

In [6]:
lotte = lotte.drop(columns=['Unnamed: 0'])

In [7]:
lotte.head()

             store                                 address           tell
0     롯데마트 TRU동부산점      부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층   051-922-2500
1      롯데마트 TRU파주점  경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)   031-960-2750
2  롯데마트 marketD수원점               경기도 수원시 권선구 세화로 134 롯데마트   031-8067-2500
3         롯데마트 강변점              서울특별시 광진구 광나루로56길 85 롯데마트    02-3424-2500
4         롯데마트 거제점                 경상남도 거제시 서간도길 9-9 (옥포동)   055-641-2500

In [9]:
lotte.to_csv('./lottemart.csv',index=False,encoding='utf-8')

In [11]:
lotteMart =pd.read_csv('./lottemart.csv',encoding='utf-8')
lotteMart.shape

(112, 3)

In [12]:
lotteMart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   store    112 non-null    object
 1   address  112 non-null    object
 2   tell     112 non-null    object
dtypes: object(3)
memory usage: 2.8+ KB