In [16]:
import time
import requests
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sn
import pandas as pd
import matplotlib.font_manager as fm
import urllib.request


from selenium.webdriver.common.by import By
from selenium import webdriver
from matplotlib import rc
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [17]:
lotte = pd.read_csv('./lotte_info_loc.csv',encoding='utf-8')
lotte.head()

,Unnamed: 0,store,address,Latitude,Longitude,phone
0,0,롯데마트 TRU동부산점,부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층,35.218819,129.231369,051-922-2500
1,1,롯데마트 TRU파주점,"경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)",37.720410,126.693622,031-960-2750
2,2,롯데마트 marketD수원점,경기도 수원시 권선구 세화로 134 롯데마트,37.265378,126.995983,031-8067-2500
3,3,롯데마트 강변점,서울특별시 광진구 광나루로56길 85 롯데마트,37.534937,127.095709,02-3424-2500
4,4,롯데마트 거제점,경상남도 거제시 서간도길 9-9 (옥포동),34.888501,128.689184,055-641-2500

In [18]:
lotte = lotte.rename(columns={'phone':'tell'})

In [19]:
lotte = lotte.drop(columns=['Unnamed: 0'])

In [21]:
lotte.head()

,store,address,Latitude,Longitude,tell
0,롯데마트 TRU동부산점,부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층,35.218819,129.231369,051-922-2500
1,롯데마트 TRU파주점,"경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)",37.720410,126.693622,031-960-2750
2,롯데마트 marketD수원점,경기도 수원시 권선구 세화로 134 롯데마트,37.265378,126.995983,031-8067-2500
3,롯데마트 강변점,서울특별시 광진구 광나루로56길 85 롯데마트,37.534937,127.095709,02-3424-2500
4,롯데마트 거제점,경상남도 거제시 서간도길 9-9 (옥포동),34.888501,128.689184,055-641-2500

In [22]:
lotte.to_csv('./lotte.csv',index=False,encoding='utf-8')

In [23]:
addr =[]
for address in lotte.address:
    addr.append(str(address).split())

addr

[['부산광역시', '기장군', '기장읍', '기장해안로', '147', '롯데몰동부산점', '3층'],
 ['경기도', '파주시', '문발로', '302', 'A블럭', '3층(문발동,', '롯데프리미엄아울렛)'],
 ['경기도', '수원시', '권선구', '세화로', '134', '롯데마트'],
 ['서울특별시', '광진구', '광나루로56길', '85', '롯데마트'],
 ['경상남도', '거제시', '서간도길', '9-9', '(옥포동)'],
 ['인천', '서구', '원당대로', '581', '롯데마트'],
 ['경기', '양평군', '양평읍', '남북로', '76', '롯데마트'],
 ['인천', '계양구', '장제로', '822', '롯데마트'],
 ['경기', '고양시', '덕양구', '충장로', '150', '롯데마트'],
 ['경기', '수원시', '영통구', '센트럴타운로', '85', '롯데마트'],
 ['부산시', '중구', '중앙대로', '2', '롯데마트'],
 ['경북', '구미시', '구미대로22길', '11', '롯데마트'],
 ['전북', '군산시', '수송로', '185', '롯데마트'],
 ['경기', '수원시', '권선구', '동수원로', '232', '롯데마트'],
 ['서울', '금천구', '시흥대로', '291', '롯데마트'],
 ['경북', '김천시', '시청로', '80', '롯데마트'],
 ['서울시', '강서구', '하늘길', '38'],
 ['경기', '김포시', '김포한강2로', '41', '장기동.', 'e편한세상', '캐널시티'],
 ['경상남도', '김해시', '김해대로', '2330', '(부원동)'],
 ['전남', '나주시', '내동길', '15', '(송월동)'],
 ['전남', '무안군', '삼향읍', '남악로162번길', '80', '롯데마트'],
 ['전북', '남원시', '향교동', '춘향로', '96', '롯데마트'],
 ['대전광역시', '유성구', '북유성대로', '206', '롯데마트'],
 ['충남', '당진시', '정안로', '20', '롯데마트'],
 ['대구', '동구', '안심로', '80', '롯데마트'],
 ['대전', '유성구', '테크노중앙로', '14', '롯데마트'],
 ['경기', '남양주시', '와부읍', '월문천로', '33', '롯데마트'],
 ['경기', '동두천시', '평화로2169번길', '21', '(송내동)'],
 ['부산', '동래구', '중앙대로', '1393', '롯데마트'],
 ['부산', '기장군', '기장읍', '기장해안로', '147', '롯데마트'],
 ['전남', '목포시', '원형서로', '15', '(상동)'],
 ['광주광역시', '서구', '시청로', '40', '(치평동)'],
 ['전북', '전주시', '덕진구', '송천중앙로', '82', '(송천동1가)'],
 ['경남', '창원시', '성산구', '중앙대로', '123(중앙동)'],
 ['경기', '용인시', '수지구', '성복2로', '38', '롯데마트'],
 ['경남', '창원시', '마산합포구', '신마산시장길', '33', '롯데마트'],
 ['경기', '남양주시', '화도읍', '경춘로', '1992', '롯데마트'],
 ['부산', '부산진구', '신천대로', '241', '롯데마트'],
 ['인천', '부평구', '광장로', '16', '롯데마트'],
 ['인천', '부평구', '마장로', '296', '롯데마트'],
 ['부산', '사상구', '낙동대로', '733', '롯데마트'],
 ['부산', '사하구', '을숙도대로', '610', '롯데마트'],
 ['경남', '창원시', '마산회원구', '내서읍', '경남대로', '927', '롯데마트'],
 ['인천', '부평구', '길주로', '623', '롯데마트'],
 ['서울특별시', '강북구', '삼양로', '247', '롯데마트'],
 ['충북', '청주시', '상당구', '용암북로160번길', '60', '롯데마트'],
 ['경기도', '안산시', '상록구', '반석로20', '롯데마트'],
 ['대전', '유성구', '유성대로', '26-37', '롯데마트'],
 ['충남', '서산시', '충의로', '27', '롯데마트'],
 ['서울', '중구', '청파로', '426', '롯데마트'],
 ['충청북도', '청주시', '흥덕구', '2순환로', '1004', '롯데마트'],
 ['서울', '서초구', '서초대로', '38길', '12', '롯데마트'],
 ['강원', '춘천시', '세실로', '108', '롯데마트'],
 ['경기', '안산시', '단원구', '달미로', '64', '64'],
 ['충남', '천안시', '서북구', '성정두정로', '1', '롯데마트'],
 ['인천', '연수구', '컨벤시아대로', '177', '롯데마트'],
 ['서울', '송파구', '중대로', '80', '롯데마트'],
 ['광주', '광산구', '장신로', '98', '롯데마트'],
 ['경기도', '수원시', '권선구', '세화로', '134', '(서둔동)'],
 ['경남', '창원시', '의창구', '원이대로', '320', '롯데마트'],
 ['경기', '시흥시', '마유로238번길', '26', '롯데마트'],
 ['경기', '시흥시', '서울대학로278번길', '67', '정왕동', '동원아파트', '맞은편'],
 ['경기', '시흥시', '비둘기공원로', '28', '롯데마트'],
 ['경기도', '용인시', '기흥구', '중부대로', '375', '(신갈동)'],
 ['충남', '아산시', '번영로', '225', '롯데마트'],
 ['경기', '안산시', '상록구', '충장로', '427', '롯데마트'],
 ['경기', '안성시', '공도읍', '서동대로', '4478', '롯데마트'],
 ['경상남도', '창원시', '마산회원구', '삼호로', '80', '롯데마트'],
 ['서울', '영등포구', '선유로', '138', '롯데마트'],
 ['전남', '여수시', '국포1로', '36', '36', '롯데마트'],
 ['전남', '여수시', '무선로', '187', '롯데마트'],
 ['인천', '연수구', '청능대로', '87', '롯데마트'],
 ['인천', '중구', '흰바위로', '51', '롯데마트', '영종도점'],
 ['경기', '수원시', '영통구', '봉영로', '1579', '롯데마트'],
 ['경기', '오산시', '경기대로', '271', '롯데마트'],
 ['울산', '남구', '삼산로', '74', '롯데마트'],
 ['경남', '양산시', '삼호1길', '34', '롯데마트'],
 ['강원', '원주시', '봉화로', '1', '롯데마트'],
 ['광주', '서구', '금화로', '240', '월드컵경기장', '內'],
 ['서울', '송파구', '신천동', '올림픽로', '300', '롯데마트'],
 ['서울', '은평구', '통일로', '1050', '롯데마트'],
 ['경기', '의왕시', '계원대학로', '7', '롯데마트'],
 ['경기', '이천시', '구만리로', '191', '롯데마트'],
 ['전북', '익산시', '무왕로', '1053', '롯데마트'],
 ['인천광역시', '미추홀구', '연남로', '35,', 'B1층(관교동,', '롯데마트', '인천터미널점)'],
 ['경기', '의정부시', '장곡로', '224', '롯데마트'],
 ['경남', '김해시', '장유면', '번화1로56번길', '15', '롯데마트'],
 ['전북', '전주시', '완산구', '우전로', '240', '롯데마트'],
 ['전북', '정읍시', '벚꽃로', '85', '롯데마트'],
 ['제주', '제주시', '연북로', '1', '롯데마트'],
 ['충북', '제천시', '용두대로11길', '10', '롯데마트'],
 ['서울', '송파구', '올림픽로', '240', '롯데마트', '제타플렉스'],
 ['경기', '고양시', '일산서구', '중앙로', '1496', '롯데마트'],
 ['서울', '노원구', '노원로', '330', '롯데마트'],
 ['울산', '북구', '진장유통로', '64', '롯데마트'],
 ['경남', '진주시', '동진로', '440', '롯데마트'],
 ['경남', '창원시', '진해구', '진해대로', '762', '롯데마트'],
 ['경기', '수원시', '장안구', '만석로19번길', '25-10', '롯데마트'],
 ['광주', '광산구', '첨단강변로99번길', '22', '롯데마트'],
 ['인천', '서구', '청라커낼로', '252', '롯데마트'],
 ['서울', '동대문구', '왕산로', '214', '롯데마트'],
 ['충북', '청주시', '흥덕구', '풍산로', '15', '롯데마트'],
 ['강원', '춘천시', '방송길', '84', '롯데마트'],
 ['충북', '충주시', '봉계1길', '49', '충주공용버스터미널'],
 ['경남', '통영시', '무전대로', '65', '롯데마트'],
 ['경기도', '성남시', '분당구', '대왕판교로606번길', '58', '롯데마트'],
 ['경기', '평택시', '평택5로', '30', '롯데마트', '평택점'],
 ['경북', '포항시', '남구', '지곡로', '247', '롯데마트'],
 ['서울', '성동구', '행당로', '82', '한진타운상가', 'B2~B3층'],
 ['충남', '홍성군', '홍성읍', '조양로247번길', '9', '롯데마트'],
 ['부산', '북구', '화명대로', '47', '롯데마트'],
 ['경기', '고양시', '덕양구', '화중로', '66', '롯데마트']]

In [27]:
addr2 = []

for i in range(len(addr)):
    if addr[i][0] == '서울': addr[i][0] = '서울특별시'
    elif addr[i][0] == '서울시': addr[i][0] = '서울특별시'
    elif addr[i][0] == '부산': addr[i][0] = '부산광역시'
    elif addr[i][0] == '부산시': addr[i][0] = '부산광역시'
    elif addr[i][0] == '인천': addr[i][0] = '인천광역시'
    elif addr[i][0] == '광주': addr[i][0] = '광주광역시'
    elif addr[i][0] == '강원': addr[i][0] = '강원도'
    elif addr[i][0] == '대전': addr[i][0] = '대전광역시'
    elif addr[i][0] == '대구': addr[i][0] = '대구광역시'
    elif addr[i][0] == '울산': addr[i][0] = '울산광역시'
    elif addr[i][0] == '세종시': addr[i][0] = '세종특별자치시'
    elif addr[i][0] == '경기': addr[i][0] = '경기도'
    elif addr[i][0] == '충북': addr[i][0] = '충청북도'
    elif addr[i][0] == '충남': addr[i][0] = '충청남도'
    elif addr[i][0] == '전북': addr[i][0] = '전라북도'
    elif addr[i][0] == '전남': addr[i][0] = '전라남도'
    elif addr[i][0] == '경북': addr[i][0] = '경상북도'
    elif addr[i][0] == '경남': addr[i][0] = '경상남도'
    elif addr[i][0] == '제주': addr[i][0] = '제주특별자치도'
 

    addr2.append(' '.join(addr[i]))

print(addr2) # 작업내용 확인
print(len(addr2))

['부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층', '경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)', '경기도 수원시 권선구 세화로 134 롯데마트', '서울특별시 광진구 광나루로56길 85 롯데마트', '경상남도 거제시 서간도길 9-9 (옥포동)', '인천광역시 서구 원당대로 581 롯데마트', '경기도 양평군 양평읍 남북로 76 롯데마트', '인천광역시 계양구 장제로 822 롯데마트', '경기도 고양시 덕양구 충장로 150 롯데마트', '경기도 수원시 영통구 센트럴타운로 85 롯데마트', '부산광역시 중구 중앙대로 2 롯데마트', '경상북도 구미시 구미대로22길 11 롯데마트', '전라북도 군산시 수송로 185 롯데마트', '경기도 수원시 권선구 동수원로 232 롯데마트', '서울특별시 금천구 시흥대로 291 롯데마트', '경상북도 김천시 시청로 80 롯데마트', '서울특별시 강서구 하늘길 38', '경기도 김포시 김포한강2로 41 장기동. e편한세상 캐널시티', '경상남도 김해시 김해대로 2330 (부원동)', '전라남도 나주시 내동길 15 (송월동)', '전라남도 무안군 삼향읍 남악로162번길 80 롯데마트', '전라북도 남원시 향교동 춘향로 96 롯데마트', '대전광역시 유성구 북유성대로 206 롯데마트', '충청남도 당진시 정안로 20 롯데마트', '대구광역시 동구 안심로 80 롯데마트', '대전광역시 유성구 테크노중앙로 14 롯데마트', '경기도 남양주시 와부읍 월문천로 33 롯데마트', '경기도 동두천시 평화로2169번길 21 (송내동)', '부산광역시 동래구 중앙대로 1393 롯데마트', '부산광역시 기장군 기장읍 기장해안로 147 롯데마트', '전라남도 목포시 원형서로 15 (상동)', '광주광역시 서구 시청로 40 (치평동)', '전라북도 전주시 덕진구 송천중앙로 82 (송천동1가)', '경상남도 창원시 성산구 중앙대로 123(중앙동)', '경기도 용인시 수지구 성복2로 38 롯데마트', '경상남도 창원시 마산합포구 신마산시장길 33 롯데마트', '경기도 남양주시 화도읍 경춘로 1992 롯데마트', '부산광역시 부산진구 신천대로 241 롯데마트', '인천광역시 부평구 광장로 16 롯데마트', '인천광역시 부평구 마장로 296 롯데마트', '부산광역시 사상구 낙동대로 733 롯데마트', '부산광역시 사하구 을숙도대로 610 롯데마트', '경상남도 창원시 마산회원구 내서읍 경남대로 927 롯데마트', '인천광역시 부평구 길주로 623 롯데마트', '서울특별시 강북구 삼양로 247 롯데마트', '충청북도 청주시 상당구 용암북로160번길 60 롯데마트', '경기도 안산시 상록구 반석로20 롯데마트', '대전광역시 유성구 유성대로 26-37 롯데마트', '충청남도 서산시 충의로 27 롯데마트', '서울특별시 중구 청파로 426 롯데마트', '충청북도 청주시 흥덕구 2순환로 1004 롯데마트', '서울특별시 서초구 서초대로 38길 12 롯데마트', '강원도 춘천시 세실로 108 롯데마트', '경기도 안산시 단원구 달미로 64 64', '충청남도 천안시 서북구 성정두정로 1 롯데마트', '인천광역시 연수구 컨벤시아대로 177 롯데마트', '서울특별시 송파구 중대로 80 롯데마트', '광주광역시 광산구 장신로 98 롯데마트', '경기도 수원시 권선구 세화로 134 (서둔동)', '경상남도 창원시 의창구 원이대로 320 롯데마트', '경기도 시흥시 마유로238번길 26 롯데마트', '경기도 시흥시 서울대학로278번길 67 정왕동 동원아파트 맞은편', '경기도 시흥시 비둘기공원로 28 롯데마트', '경기도 용인시 기흥구 중부대로 375 (신갈동)', '충청남도 아산시 번영로 225 롯데마트', '경기도 안산시 상록구 충장로 427 롯데마트', '경기도 안성시 공도읍 서동대로 4478 롯데마트', '경상남도 창원시 마산회원구 삼호로 80 롯데마트', '서울특별시 영등포구 선유로 138 롯데마트', '전라남도 여수시 국포1로 36 36 롯데마트', '전라남도 여수시 무선로 187 롯데마트', '인천광역시 연수구 청능대로 87 롯데마트', '인천광역시 중구 흰바위로 51 롯데마트 영종도점', '경기도 수원시 영통구 봉영로 1579 롯데마트', '경기도 오산시 경기대로 271 롯데마트', '울산광역시 남구 삼산로 74 롯데마트', '경상남도 양산시 삼호1길 34 롯데마트', '강원도 원주시 봉화로 1 롯데마트', '광주광역시 서구 금화로 240 월드컵경기장 內', '서울특별시 송파구 신천동 올림픽로 300 롯데마트', '서울특별시 은평구 통일로 1050 롯데마트', '경기도 의왕시 계원대학로 7 롯데마트', '경기도 이천시 구만리로 191 롯데마트', '전라북도 익산시 무왕로 1053 롯데마트', '인천광역시 미추홀구 연남로 35, B1층(관교동, 롯데마트 인천터미널점)', '경기도 의정부시 장곡로 224 롯데마트', '경상남도 김해시 장유면 번화1로56번길 15 롯데마트', '전라북도 전주시 완산구 우전로 240 롯데마트', '전라북도 정읍시 벚꽃로 85 롯데마트', '제주특별자치도 제주시 연북로 1 롯데마트', '충청북도 제천시 용두대로11길 10 롯데마트', '서울특별시 송파구 올림픽로 240 롯데마트 제타플렉스', '경기도 고양시 일산서구 중앙로 1496 롯데마트', '서울특별시 노원구 노원로 330 롯데마트', '울산광역시 북구 진장유통로 64 롯데마트', '경상남도 진주시 동진로 440 롯데마트', '경상남도 창원시 진해구 진해대로 762 롯데마트', '경기도 수원시 장안구 만석로19번길 25-10 롯데마트', '광주광역시 광산구 첨단강변로99번길 22 롯데마트', '인천광역시 서구 청라커낼로 252 롯데마트', '서울특별시 동대문구 왕산로 214 롯데마트', '충청북도 청주시 흥덕구 풍산로 15 롯데마트', '강원도 춘천시 방송길 84 롯데마트', '충청북도 충주시 봉계1길 49 충주공용버스터미널', '경상남도 통영시 무전대로 65 롯데마트', '경기도 성남시 분당구 대왕판교로606번길 58 롯데마트', '경기도 평택시 평택5로 30 롯데마트 평택점', '경상북도 포항시 남구 지곡로 247 롯데마트', '서울특별시 성동구 행당로 82 한진타운상가 B2~B3층', '충청남도 홍성군 홍성읍 조양로247번길 9 롯데마트', '부산광역시 북구 화명대로 47 롯데마트', '경기도 고양시 덕양구 화중로 66 롯데마트']
112

In [28]:
addr2 = pd.DataFrame(addr2,columns=['address2'])

In [29]:
lotte2 = pd.concat([lotte,addr2],axis=1)
lotte2.head()

,store,address,Latitude,Longitude,tell,address2
0,롯데마트 TRU동부산점,부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층,35.218819,129.231369,051-922-2500,부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층
1,롯데마트 TRU파주점,"경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)",37.720410,126.693622,031-960-2750,"경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)"
2,롯데마트 marketD수원점,경기도 수원시 권선구 세화로 134 롯데마트,37.265378,126.995983,031-8067-2500,경기도 수원시 권선구 세화로 134 롯데마트
3,롯데마트 강변점,서울특별시 광진구 광나루로56길 85 롯데마트,37.534937,127.095709,02-3424-2500,서울특별시 광진구 광나루로56길 85 롯데마트
4,롯데마트 거제점,경상남도 거제시 서간도길 9-9 (옥포동),34.888501,128.689184,055-641-2500,경상남도 거제시 서간도길 9-9 (옥포동)

In [30]:
lotte2.to_csv('./lotte2.csv',encoding='utf-8',index=False)
lotte2.head()

,store,address,Latitude,Longitude,tell,address2
0,롯데마트 TRU동부산점,부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층,35.218819,129.231369,051-922-2500,부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층
1,롯데마트 TRU파주점,"경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)",37.720410,126.693622,031-960-2750,"경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)"
2,롯데마트 marketD수원점,경기도 수원시 권선구 세화로 134 롯데마트,37.265378,126.995983,031-8067-2500,경기도 수원시 권선구 세화로 134 롯데마트
3,롯데마트 강변점,서울특별시 광진구 광나루로56길 85 롯데마트,37.534937,127.095709,02-3424-2500,서울특별시 광진구 광나루로56길 85 롯데마트
4,롯데마트 거제점,경상남도 거제시 서간도길 9-9 (옥포동),34.888501,128.689184,055-641-2500,경상남도 거제시 서간도길 9-9 (옥포동)

In [34]:
lotte2 =lotte2.rename(columns={'tell':'tel'})
lotte2.head()

,store,address,Latitude,Longitude,tel,address2
0,롯데마트 TRU동부산점,부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층,35.218819,129.231369,051-922-2500,부산광역시 기장군 기장읍 기장해안로 147 롯데몰동부산점 3층
1,롯데마트 TRU파주점,"경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)",37.720410,126.693622,031-960-2750,"경기도 파주시 문발로 302 A블럭 3층(문발동, 롯데프리미엄아울렛)"
2,롯데마트 marketD수원점,경기도 수원시 권선구 세화로 134 롯데마트,37.265378,126.995983,031-8067-2500,경기도 수원시 권선구 세화로 134 롯데마트
3,롯데마트 강변점,서울특별시 광진구 광나루로56길 85 롯데마트,37.534937,127.095709,02-3424-2500,서울특별시 광진구 광나루로56길 85 롯데마트
4,롯데마트 거제점,경상남도 거제시 서간도길 9-9 (옥포동),34.888501,128.689184,055-641-2500,경상남도 거제시 서간도길 9-9 (옥포동)