### 이마트 컬럼명 변경

In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('./Emart_info.csv', index_col=0, encoding='utf-8')
data

         store                             address        contact
0     이마트 가든5점                   서울특별시 송파구 충민로 10     02-411-1234
1      이마트 가양점                     서울 강서구 양천로 559    02-2101-1234
2      이마트 강릉점                강원도 강릉시 경강로 2398-10    033-649-1234
3      이마트 검단점                   인천광역시 서구 서곶로 754    032-440-1234
4    이마트 경기광주점                     경기 광주시 광주대로 30   031-8026-1234
..         ...                                 ...            ...
133   이마트 하월곡점  서울특별시 성북구 종암로 167 (하월곡동, 동일하이빌뉴시티)   02-6936-1234
134   이마트 해운대점                  부산 해운대구 좌동순환로 511    051-608-1234
135  이마트 화성봉담점                경기도 화성시 봉담읍 효행로 278    031-228-1234
136    이마트 화정점                 경기도 고양시 덕양구 백양로 79    031-995-1234
137    이마트 흥덕점               경기도 용인시 기흥구 흥덕중앙로 60   031-8021-1234

[138 rows x 3 columns]

In [15]:
data = data.rename(columns={'tell':'tel'})
data.to_csv('Emart_info2.csv', index=True)

In [22]:
df = pd.read_csv('./Emart_info_loc.csv', index_col=0, encoding='utf-8')
df

,store,address,Latitude,Longitude,contact
0,이마트 가든5점,서울특별시 송파구 충민로 10,37.478232,127.119370,02-411-1234
1,이마트 가양점,서울 강서구 양천로 559,37.557897,126.862298,02-2101-1234
2,이마트 강릉점,강원도 강릉시 경강로 2398-10,37.770583,128.922618,033-649-1234
3,이마트 검단점,인천광역시 서구 서곶로 754,37.585534,126.677194,032-440-1234
4,이마트 경기광주점,경기 광주시 광주대로 30,37.409522,127.261229,031-8026-1234
...,...,...,...,...,...
133,이마트 하월곡점,"서울특별시 성북구 종암로 167 (하월곡동, 동일하이빌뉴시티)",37.605834,127.030928,02-6936-1234
134,이마트 해운대점,부산 해운대구 좌동순환로 511,35.165994,129.167388,051-608-1234
135,이마트 화성봉담점,경기도 화성시 봉담읍 효행로 278,37.223313,126.972719,031-228-1234
136,이마트 화정점,경기도 고양시 덕양구 백양로 79,37.632646,126.833384,031-995-1234
137,이마트 흥덕점,경기도 용인시 기흥구 흥덕중앙로 60,37.275715,127.073340,031-8021-1234

In [24]:
df = df.rename(columns={'contact':'tel'})
df.head()
df.to_csv('Emart_info_loc2.csv', index=True)